/* autoprefixer grid: autoplace */
#board {
    display: grid;
    grid-template:  "a8  b8   c8   d8   e8   f8   g8   h8" 50px
                    "a7  b7   c7   d7   e7   f7   g7   h7" 50px
                    "a6  b6   c6   d6   e6   f6   g6   h6" 50px
                    "a5  b5   c5   d5   e5   f5   g5   h5" 50px
                    "a4  b4   c4   d4   e4   f4   g4   h4" 50px
                    "a3  b3   c3   d3   e3   f3   g3   h3" 50px
                    "a2  b2   c2   d2   e2   f2   g2   h2" 50px
                    "a1  b1   c1   d1   e1   f1   g1   h1" 50px /
                    50px 50px 50px 50px 50px 50px 50px 50px;
    width: calc(8 * 50px);
    height: calc(8 * 50px);
    background-color: #eee;
    background-image: linear-gradient(45deg, #999999 25%, transparent 25%, transparent 75%, #999999 75%, #999999),
                      linear-gradient(45deg, #999999 25%, transparent 25%, transparent 75%, #999999 75%, #999999);
    background-size: 100px 100px;
    background-position: 0 0, 50px 50px;
    border: 1px solid #999999;
}

.piece {
    font-size: 50px;
    align-self: center;
}

.white.king::before {
    content: '\2654';
}

.white.queen::before {
    content: '\2655';
}

.white.rook::before {
    content: '\2656';
}

.white.bishop::before {
    content: '\2657';
}

.white.knight::before {
    content: '\2658';
}

.white.pawn::before {
    content: '\2659';
}

.black.king::before {
    content: '\265A';
}

.black.queen::before {
    content: '\265B';
}

.black.rook::before {
    content: '\265C';
}

.black.bishop::before {
    content: '\265D';
}

.black.knight::before {
    content: '\265E';
}

.black.pawn::before {
    content: '\265F';
}

.a1 {
    grid-area: a1;
}
.a2 {
    grid-area: a2;
}
.a3 {
    grid-area: a3;
}
.a4 {
    grid-area: a4;
}
.a5 {
    grid-area: a5;
}
.a6 {
    grid-area: a6;
}
.a7 {
    grid-area: a7;
}
.a8 {
    grid-area: a8;
}
.b1 {
    grid-area: b1;
}
.b2 {
    grid-area: b2;
}
.b3 {
    grid-area: b3;
}
.b4 {
    grid-area: b4;
}
.b5 {
    grid-area: b5;
}
.b6 {
    grid-area: b6;
}
.b7 {
    grid-area: b7;
}
.b8 {
    grid-area: b8;
}
.c1 {
    grid-area: c1;
}
.c2 {
    grid-area: c2;
}
.c3 {
    grid-area: c3;
}
.c4 {
    grid-area: c4;
}
.c5 {
    grid-area: c5;
}
.c6 {
    grid-area: c6;
}
.c7 {
    grid-area: c7;
}
.c8 {
    grid-area: c8;
}
.d1 {
    grid-area: d1;
}
.d2 {
    grid-area: d2;
}
.d3 {
    grid-area: d3;
}
.d4 {
    grid-area: d4;
}
.d5 {
    grid-area: d5;
}
.d6 {
    grid-area: d6;
}
.d7 {
    grid-area: d7;
}
.d8 {
    grid-area: d8;
}
.e1 {
    grid-area: e1;
}
.e2 {
    grid-area: e2;
}
.e3 {
    grid-area: e3;
}
.e4 {
    grid-area: e4;
}
.e5 {
    grid-area: e5;
}
.e6 {
    grid-area: e6;
}
.e7 {
    grid-area: e7;
}
.e8 {
    grid-area: e8;
}
.f1 {
    grid-area: f1;
}
.f2 {
    grid-area: f2;
}
.f3 {
    grid-area: f3;
}
.f4 {
    grid-area: f4;
}
.f5 {
    grid-area: f5;
}
.f6 {
    grid-area: f6;
}
.f7 {
    grid-area: f7;
}
.f8 {
    grid-area: f8;
}
.g1 {
    grid-area: g1;
}
.g2 {
    grid-area: g2;
}
.g3 {
    grid-area: g3;
}
.g4 {
    grid-area: g4;
}
.g5 {
    grid-area: g5;
}
.g6 {
    grid-area: g6;
}
.g7 {
    grid-area: g7;
}
.g8 {
    grid-area: g8;
}
.h1 {
    grid-area: h1;
}
.h2 {
    grid-area: h2;
}
.h3 {
    grid-area: h3;
}
.h4 {
    grid-area: h4;
}
.h5 {
    grid-area: h5;
}
.h6 {
    grid-area: h6;
}
.h7 {
    grid-area: h7;
}
.h8 {
    grid-area: h8;
}