/* autoprefixer grid: autoplace */
html, body {
    margin: 0;
    padding: 0;
    font-size: 14pt;
}

main {
    display: block;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px;
}

form {
    display: grid;
    grid-template-columns: 10ch 1fr;
    grid-template-rows: repeat(9, auto);
    grid-gap: 10px;
}

label {
    display: block;
    line-height: 2rem;
}

select,
input {
    display: block;
    padding: 3px 5px;
    border-radius: 5px;
    border: 1px rgb(20,20,20) solid;
    height: 1.5rem;
}

select { 
    height: 2rem;
}

button {
    padding: 5px 8px;
    border-radius: 5px;
    border: solid 1px rgb(20,20,20);
}